#tab-container {
  position: fixed;
  width: 20px;
  height: 20px;
  top: 88px;
  right: 18px;
  z-index: 99999;
  font-size: medium;
  color: #2d2c2c;
}

#tab-button:hover+#tab-content,
#tab-content:hover {
  visibility: visible;
}

#tab-content {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 346px;
  padding: 8px 14px;
  background-color: rgba(238, 235, 235, 0.88);
  backdrop-filter: blur(8px);
  border-radius: 16px 0 16px 16px;
  left: -18vw;
  top: -30px;
  transform: translate(-100%, -30px);
}

#tab-list {
  overflow-y: auto;
}

#tab-list::-webkit-scrollbar {
  display: none; /* Chrome and Safari Actived */
}

#tab-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33px;
  cursor: pointer;
}

#tab-link {
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tab-icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

#tab-icon img {
  width: 20px;
  max-width: none;
}

#tab-close {
  margin-left: 6px;
}
